body{
    color: rgb(19,32,60);
    margin: 0;
    padding: 0;
    
}

a{
    text-decoration: none;
    color: rgb(251,187,71);
}
ul{
    list-style: none;
}


/* HEADER */
.headerContainer{
    display: flex;
    justify-content: space-between; 
    gap: 5%;
    border: 1px solid black;
    backdrop-filter: blur(8px);
    position: fixed;
    width: 99%;
}
.logo{
    width: 17%;
}
nav{
    width: 35%;
}

.headerContainer ul{
    display: flex;
    justify-content: space-evenly;
    gap: 4%;
    padding: 0 auto;
    position: fixed;
    
}
.nav a:hover{
    color: rgb(251,187,71);
    transition: 500ms;
}

.headerContainer li a, .signup{
    color: rgb(26, 24, 24);
}
.loginSignup{
    display: flex;
    padding-top: 10px;
    gap: 1rem;
    text-align: end;
    margin-right: 0;
   
   
}
.login{
    width: 30%;
    height: 50px;
    line-height: 50px;
    
}
.signup{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    background-image: linear-gradient(60deg, rgb(251, 137, 71), rgb(251,187,71));

}
.signup:hover, input[type=button]:hover, .planButton:hover{
    color: rgb(251,187,71);
    background-image: linear-gradient(45deg, rgb(222, 84, 240), rgb(71, 170, 251));
    transition: 700ms;
    
}
.login:hover, .formWrapper a:hover{
    color: rgb(222, 84, 240);
    
    transition: 700ms;
}
/* PLANS */
.sectionContainer{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-around;
    margin-top: 5%;
}
.plan{
    width: 25%;
    background-color: rgb(100, 128, 192);
    color: beige;
    padding: 1%;
    border-radius: 35px;
    background-image: linear-gradient(45deg, rgb(222, 84, 240), rgb(71, 170, 251));
    font-size: 0.92rem;
    padding-bottom: 2%;
}
.trial{
    font-size: 0.5rem;
    
}
.planButton{
    display: inline-block;
    width: 150px;
    height: 50px;
    background-image: linear-gradient(60deg, rgb(251, 137, 71), rgb(251,187,71));
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    color: rgb(19,32,60);
}
/* STREAM ACROSS DEVICES */
.stream{
    text-align: center;
    background-color: rgb(245,245,247);
    width: 80%;
    margin: 5rem auto 0 auto;
    padding: 3.5rem 0;
}

.deviceContainer{
    display: flex;
    justify-content: center;
    gap: 2%;
    
}
.devices{
    width: 15%;
}
#dev p{
    margin: 0 auto;
}

/* LOGIN FORM */
.formWrapper{
    
    text-align: center;
    margin-top: 1rem;
    
}
.formContainer{
    width: 60%;
    margin: 0 auto;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 1);
    
}



form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 400px;
    backdrop-filter: blur(8px);
    padding: 2rem;
    background-color: rgb(245,245,247);

}

input[type=email], input[type=password], input[type=button]{
   width: 100%;
   margin: 8px 0;
    height: 50px;
    border-radius: 10px;
    border: none;
}
input[type=email], input[type=password]{
    border-bottom: 1px solid rgba(251,187,71,0.9);
}
input[type=button]{
    height: 55px;
    background-image: linear-gradient(60deg, rgb(251, 137, 71), rgb(251,187,71));
    margin-top: 30px;
    border-radius: 50px;
}


.remMe{
    display: flex;
    justify-content: space-between;
    background-color: rgb(245,245,247);
}
form p{
    margin-top: 2.5rem;
}
